.App {
  text-align: center;
}

.Button {
  background-color:rebeccapurple;
  color:white;
  border-radius: 2px solid rgb(179, 151, 208);
  padding:10px;
  margin:3em;
  border-radius: 3em;
  cursor: pointer;
}

